
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Admin" asp-action="Customers" class="btn btn-info">Customer Details</a>
<a asp-controller="Admin" asp-action="Employees" class="btn btn-danger">Employee Details</a>
<a asp-controller="Admin" asp-action="EmployeeRoster" class="btn btn-danger">EmployeeRoster Details</a>


