@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<style>
    .reg {
        background-image: Url('https://images.unsplash.com/photo-1512978748615-0bfcbdc57bc3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
  
</style>
<body class="reg">
    <section class="  background-radial-gradient overflow-hidden">

        <div class=" container px-4 py-5 px-md-5 text-center text-lg-start my-5 ">
            <div class="row gx-lg-5 align-items-center mb-5">


                <div class="col-lg-7 mb-7 mb-lg-0 offset-2 ">

                    <div class="card bg-body offset-2 mr-3">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h2 class="fw-bold mb-5 text-center">Login </h2>
                            <form asp-controller="Accounts" asp-action="Login" method="post" class="form-group">
                                <!-- Email input --><div class="form-floating mb-4">

                                    <input type="text" asp-for="LoginID" class="form-control" />
                                    <label asp-for="LoginID" class="form-label"></label>
                                    <span asp-validation-for="LoginID"></span>
                                </div>
                                <!-- Password input --><div class="form-floating mb-4">

                                    <input type="password" asp-for="Password" class="form-control" />
                                    <label asp-for="Password" class="form-label"></label>
                                    <span asp-validation-for="Password"></span>

                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light btn-block mb-4">
                                    Sign in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>